{{ define "title" }}
Artwork at Some Saturday Frameshop in Hershey PA</title>
{{ end }}


{{ define "story" }}

   <div class = "Story">

           <div class="StoryLeft"> <a href="Images/ss_big_ducks.jpg"  rel="lightbox" 
           title="Picture Framing Art Show in Hershey PA">  <img src="Images/ss_little_ducks.jpg" /> <br /> Ducks on the Water <br />  </br> </a> </div>

           <div class="StoryRight"><a href="Images/ss-puppies-big.jpg" rel="lightbox" 
           title="Picture Framing Art Show in Hershey PA">  <img src="Images/ss-puppies-little.jpg" /> <br /> Puppy Power  <br />  </br> </a> </div>
	   
	   
	   
  </div>
{{ end }}

