{{ define "title" }}
Artwork at Some Saturday Frameshop in Hershey PA</title>
{{ end }}


{{ define "story" }}

   <div class = "Story">

           <div class="StoryLeft"> <a href="Images/ss_big_ducks.jpg"  rel="lightbox" 
           title="Picture Framing Art Show in Hershey PA">  <img src="Images/ss_little_ducks.jpg" /> <br /> Ducks on the Water <br />  </br> </a> </div>

           <div class="StoryRight"><a href="Images/PICs/MayShow/02S.JPG" rel="lightbox" 
           title="Picture Framing Art Show in Hershey PA">  <img src="Images/PICs/MayShow/02S.JPG" /> <br /> By Darlene Ferrier <br />  </br> </a> </div>
	   
	   <div class="StoryLeft"><a href="Images/PICs/MayShow/03S.JPG" rel="lightbox" 
           title="Picture Framing Art Show in Hershey PA">  <img src="Images/PICs/MayShow/03S.JPG" /> <br /> By Darlene Ferrier <br /> </br> </a> </div>
	   
	   <div class="StoryRight"><a href="Images/PICs/MayShow/04S.JPG" rel="lightbox" 
           title="Picture Framing Art Show in Hershey PA">  <img src="Images/PICs/MayShow/04S.JPG" /> <br /> By Darlene Ferrier <br />  </br> </a> </div>
	   
	   <div class="StoryLeft"><a href="Images/PICs/MayShow/05S.JPG" rel="lightbox" 
           title="Picture Framing Art Show in Hershey PA">  <img src="Images/PICs/MayShow/05S.JPG" /> <br /> By Darlene Ferrier <br />  </br> </a> </div>
	   
	   <div class="StoryRight"><a href="Images/PICs/MayShow/06S.JPG" rel="lightbox" 
           title="Picture Framing Art Show in Hershey PA">  <img src="Images/PICs/MayShow/06S.JPG" /> <br /> By Darlene Ferrier <br />  </br> </a> </div>
	   
	   <div class="StoryLeft"><a href="Images/PICs/MayShow/07S.JPG" rel="lightbox" 
           title="Picture Framing Art Show in Hershey PA">  <img src="Images/PICs/MayShow/07S.JPG" /> <br /> By Darlene Ferrier <br />  </br> </a> </div>
	   
	   <div class="StoryRight"><a href="Images/PICs/MayShow/08S.JPG" rel="lightbox" 
           title="Picture Framing Art Show in Hershey PA">  <img src="Images/PICs/MayShow/08S.JPG" /> <br /> By Darlene Ferrier <br /> </br> </a> </div>
	   
	   <div class="StoryLeft"><a href="Images/PICs/MayShow/09S.JPG" rel="lightbox" 
           title="Picture Framing Art Show in Hershey PA">  <img src="Images/PICs/MayShow/09S.JPG" /> <br /> By Darlene Ferrier <br />  </br> </a> </div>
	   
	   <div class="StoryRight"><a href="Images/PICs/MayShow/10S.JPG" rel="lightbox" 
           title="Picture Framing Art Show in Hershey PA">  <img src="Images/PICs/MayShow/10S.JPG" /> <br /> By Darlene Ferrier <br />  </br> </a> </div>
	   
	   <div class="StoryLeft"><a href="Images/PICs/MayShow/11S.JPG" rel="lightbox" 
           title="Picture Framing Art Show in Hershey PA">  <img src="Images/PICs/MayShow/11S.JPG" /> <br /> By Darlene Ferrier <br />  </br> </a> </div>
	   
  </div>
{{ end }}

