{{ define "title" }}
Artwork at Some Saturday Frameshop in Hershey PA</title>
{{ end }}


{{ define "story" }}

   <div class = "Story">


             <div class="StoryLeft">  <a data-fancybox="gallery"  data-caption="Ducks on the Water"  
                       href="Images/ss_big_ducks.jpg">
                   <img src="Images/ss_little_ducks.jpg">
             </a></div>


            <div class="StoryRight">  <a data-fancybox="gallery" data-caption="Puppy Wagon"  
                       href="Images/ss-puppies-big.jpg">
                   <img src="Images/ss-puppies-little.jpg"> 
            </a></div>
	   
	    <div class="StoryLeft">  <a data-fancybox="gallery" data-caption="Chad Soldier"  
                       href="Images/ChadSoldier.jpg">
                   <img src="Images/ChadSoldier.jpg"> 
            </a></div>
	   
	   
  </div>
{{ end }}

