{{ define "title" }}
Museum Quality Picture Framing Technique
{{ end }}


{{ define "story" }}
<iframe width="840" height="511" src="//www.youtube.com/embed/SxJcPLnyII0" frameborder="0" allowfullscreen></iframe>
  
<div class="Story">
	   <div class="Picture_Framing_Details">
                    At Some Saturday Frame Shop, we practice museum quality  framing technique and have done so for 
                    over 30 years. It is something we believe we do very well.

                   <p>Thirty years ago, I asked the curator at the National Museum  at Washington DC if he could state 
                   how to frame art in  just one sentence.  He thought briefly  and then told me this; &quot;Make sure 
                   the framed artwork can be disassembled  and handed back in the same condition as it was given to 
                   you, even if 100 years  later.” So, now I had a goal, frame art in a manner that will make-time-stand still.  
                   Fortunately, framing products and techniques are available that make the 100 year goal reachable, 
                   so why not do it right?</p>

                  <p>Framing artwork in a fashion so that deterioration is slowed to a crawl, goes by many names like 
                  “museum quality framing,” “acid free framing” or “conservation framing.” This is the kind of Framing 
                  Some Saturday Frame Shop provides. Stated quickly, here is our technique: </p>

                  <ul type="disc">
                  <li>Use ultra violet light blocking glass</li>
  	          <li>Use acid-free mat</li>
  	          <li>Use acid free backer boards</li>
  	          <li>Use foam core products that absorb certain harmful gasses, stopping them from reaching the artwork</li>
  	          <li>Use a Mylar pocket to hold the art</li>
  	          <li>Completely enclose some items, such as stamps, in a Mylar sleeve</li>
  	          <li>Never cut, damage, mark, trim, fold, or do anything to the art that changes its original condition.</li>
                  </ul>
                  <p>By using high quality materials and techniques, Some  Saturday can frame your art and in doing so, 
                  slow the aging process. Our goal  is 100 years aging with no visible signs of aging.  </p>
                  <p>Now all of this is great stuff, but there are some things  that over 30 years of experience taught us. 
                  For instance, we are often asked to frame “cells” from Disney productions. A “cell” is a single hand-drawn 
                  frame used in making an animated movie back in the days when each frame was drawn by hand. The cells we 
                  framed were all quite expensive, not to mention interesting. We  learned that if you follow the rules stated 
                  above, the cell will NOT last 100 years. Thanks to a few chemists that visit our shop, plus a lot of research, 
                  we framed the cells in the environment they needed. How did we do it?  Perhaps some things need to stay 
                  our secret - so if you just have to know, please give us a call, tell us about our website, and we’ll talk 
                  picture framing with you. We love this stuff.</p>

                  <p> <a href="http://nbframing.com/data/">Read about the mat board and backer boards we use.</a> The Nielsen-Bainbridge website has a great illustration on their products' effectiveness </p>

                  <p><a href="http://www.statemuseum.arizona.edu/preserv/recommend_paper.shtml">See what the Arizona State Museum has to say</a></p>
                  <p>Here is a good book on the subject: The Care of Prints and  Drawings - &nbsp;By Margaret Holben Ellis, J. Paul Getty Trust, American Association for  State and Local History   See  pages 27-29</p>
           </div>

        <div class="Picture_Frame_Left"><img src="Images/1 SetUpTheMatCutter.jpg" width="266" height="200" /></div>
        <div class="Picture_Frame_Left"><img src="Images/2 CutTheMat.jpg"         width="266" height="200" align="left"/></div>
        <div class="Picture_Frame_Left"><img src="Images/3 TheMat.jpg"            width="266" height="200" align="left"/></div>
        <div class="Picture_Frame_Left"><img src="Images/4 CutTheFrame.jpg"       width="149" height="201" align="left"/></div>
        <div class="Picture_Frame_Left"><img src="Images/4 TheFrame.jpg"          width="134" height="200" align="left" /></div>
        <div class="Picture_Frame_Left"><img src="Images/5 CutTheGlass.jpg"       width="187" height="201" align="left"/></div>
        <div class="Picture_Frame_Left"><img src="Images/6 Framed art.jpg"        width="286" height="200" align="left"/></div>

</div>      
{{ end }}

