{{ define "title" }}Picture Framing at Some Saturday Frame Shop{{ end }}

{{ define "story" }}

         <div class="Story">
                  <div class="StoryLeft" style=text-align:left >
                         <span class="style1">Picture Framing</span> 
                         at Some Saturday Frame Shop: We can frame nearly anything you bring to our doors. You may choose 
                         from hundreds of frame styles and mats, all of which are locally stocked. We have a great eye 
                         for color and of course ask no charge in helping you choose the perfect frame and mat combination 
                         to match your style. <br />
                         <br />
                         Our picture framing shop is in a remodeled Pennsylvania bank barn that retains much of its original 
                         architecture; all of which is still visible. With plenty of room to look at your artwork from just 
                         about any angle under perfect lighting, we’re sure you’ll find a trip to Some Saturday Frame Shop 
                         to be a rewarding experience.
                         <br />
                         <br />
                         We have a large selection of artwork (originals and prints) hanging within the shop's two floors 
                         with over 8,000 sq feet in which to explore!
                  </div>
            
                  <div class="StoryRight" style=text-align:left  >
                        If you come on a Saturday, you are guaranteed to be greeted by the proprietor, Stuart Feeser Jr, 
                        our master craftsman. He’s always easy to spot (he’s the one that the line forms behind!) You’ll 
                        find that both his eye for detail and personality make him the best guy to help you choose the 
                        perfect picture frame.
                        <br />
                        <br />
                        Looking for something low cost? Check out the ready-made picture frames and choose the one that 
                        suits you. Since the ready-made frames are made from remnants of custom framing projects, you may 
                        find the perfect fit at a bargain price. It never hurts to look!
                        <br />
                        <br />
                        Since we do all manufacturing on premises, our overhead is far lower than our competition. 
                        We pride ourselves in high quality, museum-grade picture framing at a very competitive price. 
                        We service the greater Harrisburg and Hershey area.
                  </div>
            
                  <div class="Picture1"> In the red barn, by the Gazebo<img src="Images/Barn1 small.jpg" width="100%" align="right"/>
                  </div>
            
                  <div class="StoryLeft">
                      <br />
                      <br />Our customers love us, come and see why.<br />
                      <br />
                      <a href="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=some+saturday+frame+shop+harrisburg&sll=40.70758,-73.931293&sspn=0.114252,0.193119&ie=UTF8&ll=40.301785,-76.731949&spn=0.236175,0.386238&z=12&iwloc=A"><h2>Find us on Google Maps!</h2></a>
                  </div>
            
            
                  <div class="StoryRight"><img src="Images/Sales.jpg" width="372" height="199" align="right"/>
                  </div>
         </div>
            
            
{{ end }}
