{{ define "layout" }}<!DOCTYPE html>

<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>

   <meta name="description" content="Picture frames in the Harrisburg and Hershey area">
    <meta name="keywords" content="Picture Framing, wooden picture frames">
    <title> {{ template "title" }} </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.0.47/jquery.fancybox.min.css" />
    <link rel="stylesheet" href="/styles/Mystyles.css" type="text/css" >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="icon" href="/Images/favicon.ico" />
    <style type="text/css"></style>
</head>


<body>
<div class="Wrapper">

        <div class="Top">
               <div class="BannerLeft"> {{ template "title" }} </div>
               <div class="BannerRight"><img src="Images/BarnNorth.jpg" alt="Barn"  width="33%" height="100%" /></div>
        </div> 

        <div class="TopNavBarContainer">
               <div class="TopNavBar"><a href="index.html">Home                       </a>   </div>
               <div class="TopNavBar"><a href="FrameMaking.html">Frame making         </a>   </div>
               <div class="TopNavBar"><a href="FeaturedArt.html">Ready Framed Art     </a>   </div>
               <div class="TopNavBar"><a href="TheFrameShop.html">Tour the Frame Shop </a>   </div>   
               <div class="TopNavBar"><a href="MeetStu.html">Meet Stu!   </a>   </div>  
        </div>

        <div class="LeftNav">
               <p><img src="Images/TinySign.jpg" alt="sign" width="99%"  />
               <br />
               <br />
               Some Saturday Frame Shop<br />
               7062 Red Top Road<br />
               Harrisburg, PA<br />
               <br />
               <strong>717 566-2486</strong></p>
               <a href="contact.html" class="btn btn-info" role="button">Contact us</a>
               </a> <h3>&nbsp;</h3>
               <h4>
               Mon: Closed<br />
               Tue: 10 -  5<br />
               Wed: 10 -  5<br />
               Thu: 10 -  5<br />
               Fri: 10 -  5<br />
               Sat: 10 -  5<br />
               Sun:  Closed</h4><br />


         </div>

      

{{ template "story" }}
    
        
         <div class="Bottom">Copyright Some Saturday Frame Shop 2017 All rights reserved
         </div>
</div>

<script src="//code.jquery.com/jquery-3.2.1.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.0.47/jquery.fancybox.min.js"></script>

<script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>

<script type="text/javascript"></script>


</body>

</html>
{{ end }}
