{{ define "title" }}
Meet Stu
{{ end }}


{{ define "story" }}

<iframe width="840" height="511" src="//www.youtube.com/embed/live_stream?channel=UCvvHMKtNDu5k8mhI2-d9QlQ" frameborder="0" allowfullscreen></iframe>

<div class="Story">
          <div class="StoryLeft"><img    src="Images/1 Stu.jpg" width="266" height="200" /></div>
          <div class="StoryRight"><img   src="Images/2 stu.jpg" width="266" height="200" /></div>
          <div class="StoryLeft"><img    src="Images/Dad1.jpg"  width="338" height="200" /></div>
          <div class="StoryRight">                                                         </div>
</div>

{{ end }}
