{{ define "title" }}
Tour the Frame Shop
{{ end }}



{{ define "story" }}

<iframe width="840" height="511" src="//www.youtube.com/embed/OqlA1BMIueE" frameborder="0" allowfullscreen></iframe>

<div class="Story">
          <div class="StoryLeft"> <img src="Images/Shop1.jpg" /></div>
          <div class="StoryRight"><img src="Images/Shop2.jpg" /></div>

          <div class="StoryLeft"> <img src="Images/Shop3.jpg" width="266" height="200" /></div>
          <div class="StoryRight"><img src="Images/shop4.jpg" width="266" height="200" /></div>

          <div class="StoryLeft"> <img src="Images/shop5.jpg" width="266" height="200" /></div>
          <div class="StoryRight"><img src="Images/Shop6.jpg" width="266" height="200" /></div>

          <img src="Images/Somesaturday.png" width="759" height="329" />
          <br/>
</div>

{{ end }}


